<!-- app/views/static_pages/presentation.html.erb -->

<presentation class="presentation">

<messages class="messages">
	<ul>
		<li><b>To direct a successful company</b></li>
		
		<li>You want to understand the impact of cutting-edge technology 
		is having on your business competitiveness. You must guarantee the benefits 
		enabled by leading technology: 
		<ul class="ul2">
		<li class="li2">economies of scale</li>
		<li class="li2">faster growth</li>
		<li class="li2">better performance</li>
		</ul>
		</li>
	
		<p><%= link_to "Let us guide you", contact_path, class: "contact_link" %></p>

	</ul>
	
</messages>
	
</presentation>


