<!-- app/views/static_pages/presentation.html.erb -->

<presentation class="presentation">

<messages class="messages">
	<ul>
		<li><b>Are you unsure how novel technology will impact your business?</b></li>
		<li><b>Do you fear your business is not using the right tools to compete in 
		the 21st century?</b></li>
		<li><b>Would you like to find out how technology will be changing your 
		business workforce?</b></li>
		
	</ul>
	<p><%= link_to "Contact us", contact_path, class: "contact_link" %></p>

</messages>
	
</presentation>


