<div class="home">

<table>
<tr>
<td>
<illustration class="illustration">
	<img alt="Technology incertitude?" src="/assets/question.jpg">
</illustration>
</td>
<td>
<messages class="messages">
	<div id='message_1'>
		Are you unsure how future technology will impact your business?
	</div>
	<div id='message_2'>
		Would you like to find out how technology is changing talent management and professional education?
	</div>
	<div id='message_2'>
		Do you fear your business is not well prepared to compete in the 21st century?
 	</div>
</messages>
</td>
</tr>
</table>

<request class="request">
<table>
<tr>
<td>
	<div>
		Share your challenge with us. We promise honest advice.
	</div>
</td>

<td>
	<a href="./inquiries/new" class="contact">Contact Us</a>
</td>
</tr>
</table>

</request>

</div>