<table>
<tr>
<td>
<illustration class="illustration">
	<img alt="Technology incertitude?" src="/assets/illustration.png"  
</illustration>
</td>
<td>
<messages class="messages">
	<div id='message_1'>
		Are you unsure how future technology will impact your business?
	</div>
	<div id='message_2'>
		Would you like to find out how technology is changing talent management and professional education?
	</div>
	<div id='message_2'>
		Do you fear your business is not well prepared to compete in the 21st century?
 	</div>
</messages>
</td>
</tr>
</table>

