<div class="container">
	<h1>ACAV</h1>
	<p>Lectures</p>
	<p>Presentations</p>
	<p>Workshops</p>
	<p>Insights</p>
	<p class="topics">on <span class="purple">Multimedia Communications</span>, <span class="green">Human Computer Interaction</span> and the impact of <span class="red">Technology Innovation</span> in business </p>
	<p>&nbsp;</p>
	<div class="contact">By Dr. Ana Andr&eacute;s ( ana.andres@ieee.org ).
	Further details can be found on <a href="http://ana.andres.free.fr">Dr. Andr&eacute;s' website</a>
	</div>
</div>