<!-- app/views/static_pages/services.html.erb -->

<script type = 'text/javascript'>
$( document ).ready(
	function() {
		$(".menu_item_services").css("color", "#222");
		
	}
);
</script>

<services class="services">

	<messages class="messages">
		<ul>
			<li><b>Delivery of leading-edge business & technology projects</b>
				<p>&nbsp;</p>
				<p>We deliver "experience-centred" projects. A lean "user-experience" approach
				to design and coordinate projects maximases adoption and
				brings the most positive results at the right cost. </p>
				<p>We specialise in coordinating 
				the full product and service chain: from development,
				to design of support operations, marketing and change management programmes.<p>
				<p>We walk clients through the uncertainty of projects involving new technologies,
				giving them confidence and minimising risks.</p>
			</li>
			<li><b>Assessment of emerging technology impact on business models</b>
				<p>&nbsp;</p>
				<p>Because lagging behind is no longer an option, we create customised 
				future-technology watch analyses and reports. We examine all technologies 
				potentially disruptive to the business.</p>
				<p>Because what today only seems a gadget created by an unknown technology company,
				 tomorrow might have become the a valuable differentiator for competitors.</p>
				
			</li>
			<li><b>Technology-footprint analysis</b>
				<p>&nbsp;</p>
				<p>When technology investments do not fully impact the bottom line,
				the expected efficiencies and cost reductions do not meet expectations. </p>
				<p>We help clients find out where employees stand at exploiting the technology 
				tools at their reach. We create together the roadmap that will guide clients
				to take full advantage of the technology investments.</p></li>
			
		</ul>
		
		
	</messages>
	

</services>

