<!-- app/views/static_pages/services.html.erb -->

<script type = 'text/javascript'>
$( document ).ready(
	function() {
		$(".menu_item_services").css("color", "#222");
		
	}
);
</script>

<services class="services">
	<messages class="messages">
		<ul>
			<li><b>Analysis of workforce technology-footprint</b>
				<p>&nbsp;</p>
				<p>Many technology investments do not fully impact the bottom line.
				The expected efficiencies and cost reductions do not meet expectations
				because of lack of adoption or mismatch in business needs. </p>
				<p>Find out where your staff stands at exploiting mobility and 
				flexibility. Create the roadmap that will guide your workforce
				to increased productivity.</p></li>
			<li><b>Assessment of emerging technology impact on business models</b>
				<p>&nbsp;</p>
				<p>What today only seems a gadget created by an unknown technology company,
				 tomorrow might have become the a valuable differentiator for your competitors.</p>
				<p>Lagging behind is no longer an option. Continuous future technology watch
				and analysis of potentially disruptive technologies is paramount.</p>
			</li>
			<li><b>Delivery of leading-edge business & technology projects</b>
				<p>&nbsp;</p>
				<p>We deliver "experience-centred" projects: maximasing adoption and impact of
				new technologies. We specialise in coordinating 
				full product and service chain: from development,
				to design of support operations, marketing and adoption.<p>
				<p>We walk clients through the uncertainty of projects involving novel technologies,
				giving them confidence and minimising risks.</p>
			</li>
			
		</ul>
		
		
	</messages>
	
	<%= image_tag("services.png", class: "illustration") %>

</services>


