<!-- app/views/static_pages/why_us.html.erb -->

<script type = 'text/javascript'>
$( document ).ready(
	function() {

		$(".menu_item_whyus").css("color", "#222");

	}
);
</script>



<whyus class="whyus">
	<messages class="messages">
		<ul>
			<li><b>We are professionals with over 10 years of experience managing 
			leading-edge 
			technology projects in multiple industry sectors
				</b>
				<p>&nbsp;</p>
				<p>Experience in technology for business innovation across multiple sectors 
				facilitates 
				cross-pollination of
				ideas. We will tackle your business problem from all angles.</p>
				</li>
			<li><b>We deliver proficient work in international teams across geographies </b>
				<p>&nbsp;</p>
				<p>We flexibly work with outsourced, on-shore and off-shore teams 
				ensuring costs align with the benefits sought.</p>
			</li>
			<li><b>We give clear and independent advice</b>
				<p>&nbsp;</p>
				<p>Complexity is never synonym of excellence. We tailor our services 
				to exactly what you need.<p>
			
			</li>
			
		</ul>
		
		
	</messages>
	
</whyus>


