/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 2, D:/RubyProjects/acavltd/app/assets/stylesheets/custom.css.scss */
body {
  background-image: url(images/services.png);
  padding: 5%;
  padding-top: 2.5%;
}

/* line 10, D:/RubyProjects/acavltd/app/assets/stylesheets/custom.css.scss */
h1 {
  color: #36B;
  font-size: 400%;
  font-family: Georgia;
  margin-bottom: 5%;
}

/* line 17, D:/RubyProjects/acavltd/app/assets/stylesheets/custom.css.scss */
p {
  color: #222;
  font-size: 200%;
  font-family: Tahoma;
  margin-left: 5%;
}

/* line 24, D:/RubyProjects/acavltd/app/assets/stylesheets/custom.css.scss */
.topics {
  padding-left: 5%;
  padding-right: 5%;
}

/* line 28, D:/RubyProjects/acavltd/app/assets/stylesheets/custom.css.scss */
.red {
  color: red;
}

/* line 32, D:/RubyProjects/acavltd/app/assets/stylesheets/custom.css.scss */
.green {
  color: green;
}

/* line 36, D:/RubyProjects/acavltd/app/assets/stylesheets/custom.css.scss */
.purple {
  color: purple;
}

/* line 41, D:/RubyProjects/acavltd/app/assets/stylesheets/custom.css.scss */
.contact {
  font-family: calibri;
}

/* line 45, D:/RubyProjects/acavltd/app/assets/stylesheets/custom.css.scss */
a {
  text-decoration: none;
  font-weight: bold;
}

/* line 50, D:/RubyProjects/acavltd/app/assets/stylesheets/custom.css.scss */
a:hover {
  font-weight: bold;
  color: blue;
}
