@import "bootstrap"; 

/* universal */

* {
	moz-box-sizing:    border-box;    /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}

.container{
	margin-left:	0px;
	width: 	100%;
	padding-left: 0px;
	padding-right: 0px;
}

html {
  overflow-y: scroll;
}

body {
  padding-top:0%;
  padding-left: 0%;
  padding-right: 0%;
  border-left: 	0px;
  border-right:	0px;
  background-color: #FFF;
  color: #FFFFFF;
  font-family:"Calibri", Verdana, sans-serif;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* header */

header {
	
	background-color: #36a;
	
}

.logo{

		a, a:hover{

		text-decoration:none;

	}

	a:hover{
		color: #FFF;
	}
	a{
		color: #FFF; 
	}
	
	font-family: Georgia;
	font-size:	60px;
	font-weight:  bold;
	padding-top:	10px;
	padding-left:	30px;
	
}

.slogan{
	
	font-style: normal;
	font-size: small;
	width: 300px;
	float: left;
	overflow-y: hidden;
	margin-top: -15px;
	margin-left: 	175px;
}
	

	

header img {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
}


/* header menu */


	.menu {

		float: 		right;
		display: 	block;
		height: 	122px;
		
		
		
		a, a:hover{

			text-decoration:none;

		}

		a:hover{
			color: #222;
		}
		a{
			color: #DDD; 
		}

		ul {
			list-style-type: none;
			padding-top: 0px;
			padding-right: 10px;
			margin: 0px;
			position: absolute;
			top: 0px;
			right: 0px;
			
			li{
				
				font-size: 20px;
				font-family: arial;
				font-weight: normal;
				padding-top: 10px;
				padding-left: 10px;
				
			}
		
		}
	}


@media (min-width: 800px) 		/* the header is very restricted t0 800px to work well*/
{




	.menu {

		float: 		right;
		display: 	block;
		height: 	122px;
		
		
		a, a:hover{

			text-decoration:none;

		}

		a:hover{
			color: #222;
		}
		a{
			color: #DDD; 
		}

		ul {
			list-style-type: none;
			padding-top: 40px;
			padding-right: 60px;
			margin: 0px;
			position: absolute;
			top: 0px;
			right: 0px;
			
			li{
				display: inline;
				font-size: 30px;
				font-family: arial;
				font-weight: normal;
				padding-top: 25px;
				padding-left: 60px;
				
			}
		}
	}
}



header hr {
	color: #FFF;
	background-color: #FFF;
	height: 0px;
	border-width: 0px;
	padding-top: 0px;
	margin: 	0px;

}

/* new */

.new {

	
}

 


 
 /* presentation */

 /*mobile first */
 
presentation {

		min-height: 600px;
	
		background-color: #fff;
		width: 100%;
		height: 100%;
		display: block;
		
		padding: 0px;
		margin: 0px;

	
		

	p{
		margin-right: 20%;
		margin-bottom: 60px;
		font-size: 45px;
	}

	/* messages */

	messages {
		color: 	#222;
		font-family:	"Calibri", Verdana, sans-serif;
		background-color:	rgba(0,0,0,0);  /*transparent background */
		display:	block;
	}
	messages .ul2{
		font-size: 1.5em;
		width: 80%;
		padding-top: 40px;
		padding-bottom: 20px;
		margin-right: 10%;
	}
	
	messages .li2{
			padding-top: 	0px;
			padding-bottom:	0px;
			line-height: 110%;
					
	}

	messages ul {
		font-size: 2.5em;
		
		list-style-type: none;
		
		width: 60%;
		
		padding-top: 60px;
		padding-bottom: 40px;
		
		margin-left: 10%;
		
		li{
			padding-top: 	10px;
			padding-bottom:	30px;
			line-height: 100%;
					
		}
		
	}

}



	/* rightform */


		

	.rightform {

		background-color: #999;
		width: 400px;
		position: 	absolute;
		top: 122px;
		left:	0px;
		margin-top:	50px;
		margin-right: 10%;

		padding-bottom: 20px;
		padding-left: 	20px;
		padding-top:	0px;
		padding-right:	20px;
		
		-webkit-border-top-left-radius:20px;
		-moz-border-radius-topleft:20px;
		border-top-left-radius:20px;
		-webkit-border-top-right-radius:20px;
		-moz-border-radius-topright:20px;
		border-top-right-radius:20px;
		-webkit-border-bottom-right-radius:20px;
		-moz-border-radius-bottomright:20px;
		border-bottom-right-radius:20px;
		-webkit-border-bottom-left-radius:20px;
		-moz-border-radius-bottomleft:20px;
		border-bottom-left-radius:20px;
		text-indent:0;
		border:1px solid #dcdcdc;

	}

 
 
@media (min-width: 1000px)  /*to be changed once content is agreed */
{
	presentation {

			min-height: 600px;
		
			background-color: #fff;
			width: 100%;
			height: 100%;
			display: block;
			
			padding: 0px;
			margin: 0px;

		@media (min-width: 1000px)  /*to be changed once content is agreed */
		{

			background-image:  image-url("presentation.png");  /*lighter background */
			background-repeat:no-repeat;
			background-position: top left;	
		}
		
			
			

		p{
			margin-left: 20%;
			margin-bottom: 60px;
			font-size: 45px;
		}

		/* messages */

		messages {
			color: 	#222;
			font-family:	"Calibri", Verdana, sans-serif;
			background-color:	rgba(0,0,0,0);  /*transparent background */
			display:	block;
		}
		messages .ul2{
			font-size: 1.5em;
			width: 80%;
			padding-top: 40px;
			padding-bottom: 20px;
			margin-left: 30%;
		}
		
		messages .li2{
				padding-top: 	0px;
				padding-bottom:	0px;
				line-height: 110%;
						
		}

		messages ul {
			font-size: 2.5em;
			
			list-style-type: none;
			
			width: 60%;
			
			padding-top: 60px;
			padding-bottom: 40px;
			
			margin-left: 39%;
			
			li{
				padding-top: 	10px;
				padding-bottom:	30px;
				line-height: 100%;
						
			}
			
		}

	}



	/* rightform */


		

	.rightform {

		background-color: #999;
		width: 400px;
		position: 	absolute;
		top: 122px;
		right:	0px;
		margin-top:	50px;
		margin-right: 10%;

		padding-bottom: 20px;
		padding-left: 	20px;
		padding-top:	0px;
		padding-right:	20px;
		
		-webkit-border-top-left-radius:20px;
		-moz-border-radius-topleft:20px;
		border-top-left-radius:20px;
		-webkit-border-top-right-radius:20px;
		-moz-border-radius-topright:20px;
		border-top-right-radius:20px;
		-webkit-border-bottom-right-radius:20px;
		-moz-border-radius-bottomright:20px;
		border-bottom-right-radius:20px;
		-webkit-border-bottom-left-radius:20px;
		-moz-border-radius-bottomleft:20px;
		border-bottom-left-radius:20px;
		text-indent:0;
		border:1px solid #dcdcdc;

	}

}

/* general */

.inline {
	display: inline;
}
	

 /* services */

services {


		background-color: #fff;
		width: 100%;
		height: 100%;
		display: block;
		
		padding: 0px;
		margin: 0px;

	@media (min-width: 1000px)  /*to be changed once content is agreed */
	{

		background-image:  image-url("services.png");  /*lighter background */
		background-repeat:no-repeat;
		background-position:right top;	
	}
	
	/* messages */

	messages {
	
		color: 	#222;
		font-family:	"Calibri", Verdana, sans-serif;
		background-color:	rgba(0,0,0,0);  /*transparent background */
		display:	block;
	}

	messages ul {
	
		font-size: 2.5em;
		
		list-style-type: none;
		
		width: 70%;
		
		padding-top: 30px;
		padding-left: 30px;
		
		p{
			font-size: 0.75em;	
			line-height: 110%;	
		}

		li{
			padding-top: 	10px;
			padding-bottom:	30px;
			line-height: 100%;
					
		}
		
	}

}
	
	
 /* whyus */

whyus {


		background-color: #fff;
		width: 100%;
		height: 100%;
		display: block;
		
		padding: 0px;
		margin: 0px;

	@media (min-width: 1000px) /*to be changes once content is stable*/
	{

		background-image:  image-url("whyus.png");
		background-repeat:no-repeat;
		background-position:right top;	
	}

	/* messages */

	messages {

		color: 	#222;
		font-family:	"Calibri", Verdana, sans-serif;
		background-color:	rgba(0,0,0,0);  /*transparent background */
		display:	block;

		}

	messages ul {
		font-size: 2.5em;
		
		list-style-type: none;
		
		width: 70%;
		
		padding-top: 30px;
		padding-left: 30px;
		p{
			font-size: 0.75em;	
			line-height: 110%;	
		}

		li{
			padding-top: 	10px;
			padding-bottom:	30px;
			line-height: 100%;
					
		}
		
	}

}
	

/* footer */

footer hr {
	color: #FFF;
	background-color: #FFF;
	height: 0px;
	border-width: 0px;
	margin-top: 0px;
 
}

.footer {
	color: #CCC;
	
	position:relative;
	top: 0px;
	float: right;
    width: 100%;
    background:	#444;
   

}

footer a {
  color: #CCC;
}

footer a:hover {
  color: #222;

}

footer small {
  float: right;
  font-size: 100%;
  margin-right:	10px;
  
}

#share-buttons img {
width: 50px;
padding-left: .5%;
padding-right: .5%;
border: 0;
box-shadow: 0;
display: inline;
}

#share-buttons {
	float: left;
	margin-left: 20px;
	}


/* customised buttons */

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size: 100%;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width: 120px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;

	float: right;
	margin-top: 10px;
	
}


.contact:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #999999), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #999999 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#ededed');
	background-color:#999999;
}

.contact:active {
	position:relative;
	top:1px;
}


/* contact form page */

.contact_form {

	margin-top: 1%;
	margin-bottom: 2.5%;
	font-size: 125%;
}

.contact_form h1 {
	
	font-size: 135%;

}

.contact_form p {

	font-size: 125%;

}


.new_inquiry input {

	margin-left: 2.5%;

}

.new_inquiry textarea {
	margin-left: 2.5%;
	width: 100%;
	height: 100%;
	padding: 3%;
	border: 2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.new_inquiry textarea:focus {
	border-color:#333; 
	}

.contact_form p{
	font-size: 100%;
}

.new_inquiry input[type=text]  {
	padding: 2.5%; 
	border: 2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.new_inquiry input[type=text]:focus {
	border-color:#333; 
	}

.new_inquiry input[type=submit] {

	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:100%;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:50%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	
	margin-top:10%
}

.new_inquiry input[type=submit]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #999999), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #999999 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#ededed');
	background-color:#999999;
}

.new_inquiry input[type=submit]:active {
	position:relative;
	top:1px;
}

.new_inquiry li {

	color: #a00;
	font-size: 15px;

}


#minimessage {

	font-size: 13px;
	padding-left: 7px;
}

/* thank you page */

.thanks {

	
	margin-bottom: 5%;
	font-size: 100%;
	
}