<!-- app/views/inquiries/_contact.html.erb -->
<div class="rightform">

<div class="contact_form"> 
<h1>What can we help you with?</h1>
<p>Share your challenge with us. We will contact you back in less than 24h.</p>
 
<%= render 'inquiries/form', :inquiry => @inquiry %>
</div>

</div>