<!-- app/views/inquiries/_contact.html.erb -->
<script type = 'text/javascript'>
$( document ).ready(
	function() {
		$(".menu_item_contact").css("color", "#222");
	}
);
</script>

<presentation class="presentation">

	

	<div class="rightform">
		<div class="contact_form"> 
			<h1>We are based in London<BR><BR>You can call us at:<BR>+44 (0) 208 1331 142</h1>
			<BR>
			You can also send us your inquiry. We will contact you back in less than 24h.
			<BR> <BR>
			<%= render 'inquiries/form', :inquiry => @inquiry %>
		</div>
	</div>
	
</presentation>