<!-- app/views/inquiries/new.html.erb -->

<% content_for :for_head do %>
  <!-- nothing in the head of the main page //-->
<% end %>

<%= render 'ga_new' %>

<div class="new">
<%= render 'static_pages/presentation' %>

<%= render 'contact' %>

</div>
