<!-- app/views/inquiries/thank_you.html.erb -->
<div class="thanks"> 
<h1>Thank you!</h1>
<table>
<tr>
<td>
<p>Your inquiry has been sent and we'll be in touch as soon as possible.</p>
</td>
<td>
	<a href="./" class="contact">Return</a>
</td>
</tr>
</table>
	
</div>