<footer class="footer">
	<hr>
	<small>
	ACAV Ltd. was  established by <a href="http://ana.andres.free.fr/" target="ana_andres"> Dr. Andrés del Valle </a> in 2011.
	It specialises in technology and education.
	(c) 2014 ACAV Ltd.
	</small>
</footer>