<header class="header">

	<!-- %= link_to image_tag("logo.png", class: "logo_img"), root_path, class: "logo_a" % //-->
	<p class="logo"><%= link_to "ACAV   Ltd", root_path %></p>
	
	<p class="slogan">Simple, Serious and Honest Advice</p>
	
	<div class="menu">
		<ul class="menu_items">
		
			<li ><%= link_to "WHY US", why_us_path, class: "menu_item_whyus" %></li>
			<li ><%= link_to "SERVICES", services_path, class: "menu_item_services" %></li>
			<li ><%= link_to "CONTACT", contact_path, class: "menu_item_contact" %></li>
					
		</ul>
	
	</div>
	<div style="clear: both"></div>
	<hr>

</header>
