<header class="header">
<!-- a href="<%= root_path %>"><img id="logo" alt="ACAV Ltd." src="http://ana.andres.free.fr/heroku/acavltd/logo.png" /></a //-->
<%= link_to "ACAV Ltd", root_path, class: "logo_a" %>
<hr>
<div class="slogan">
Simple, Serious and Honest Advice
</div>
</header>
