<!DOCTYPE html>
<html>
<head>
  <title>ACAV Ltd - </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>Common heading area to all pages </p>
<%= yield %>

</body>
</html>
